# Send builds to container-based infrastructure
# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false
language: ruby
cache:
  bundler: true
rvm:
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - ruby-head
  - jruby
  - jruby-head
gemfile:
  - gemfiles/rails_4_2.gemfile
  - gemfiles/rails_5_0.gemfile
  - gemfiles/rails_5_1.gemfile
  - gemfiles/rails_5_2.gemfile
  - gemfiles/rails_6_0.gemfile
before_install:
  # Cannot use bundler 2.x due to dependency (mainly rails 4.2)
  # Solution from https://github.com/rails/rails/blob/4-2-stable/.travis.yml
  - "travis_retry gem update --system 2.7.8 --no-doc || travis_retry gem update --system 2.7.8 --no-rdoc --no-ri"
  - "travis_retry gem install bundler -v '<2'"
env:
  global:
    - FOG_DIRECTORY=asset-sync-travis
    - FOG_PROVIDER=AWS
    - secure: "dy8Fqlg3b1ZMK1BY5z6NMQLbzAVd7GWVYY0MeCQALz76zRac0z8MyU8hkv6h\nozFry7DSdbGehGT9foOnkWTwzGzf1rzdd5cmWrUPk1wDTRgMM9SrwodPj1TU\nzsq2EFx0a79vADQN8JXkpLC1YD6kEb9aWkTxrIT9KBgw+J5H32o="
    - secure: "Hmx7D7/p2LlA2ya/xBIz21s/8MLIQCjvfYB7RWBNlWk1PfqRLAz8wX6TUVWy\nfAFktMjLnpRLRYO7AgQS4jcfQ/k0HYK9IXzqXzeI00TNm0Vwp0TCXhawiOFT\nSvUMhs2/1vRfjN0HOJ75XlWRhJzV/G5rOMiafAZLsVzN/0iiB8g="
matrix:
  fast_finish: true
  allow_failures:
    # bundler version conflict
    - rvm: 2.3
      gemfile: gemfiles/rails_4_2.gemfile
    - rvm: jruby
      gemfile: gemfiles/rails_4_2.gemfile
    - gemfile: gemfiles/rails_6_0.gemfile
    - rvm: ruby-head
    - rvm: jruby-head
notifications:
  webhooks:
    urls:
      - https://www.travisbuddy.com/
    on_success: never
