name: Tests

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
  push:
    branches:
      - master
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'

jobs:
  unit_tests:
    name: Unit Tests
    # Homemade support for [ci skip] no longer needed
    # https://github.blog/changelog/2021-02-08-github-actions-skip-pull-request-and-push-workflows-with-skip-ci/
    # if: "contains(github.event.commits[0].message, '[ci skip]') == false"
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
        ruby:
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
          - jruby
        gemfile:
          - gemfiles/rails_6_1.gemfile
          - gemfiles/rails_7_0.gemfile
          - gemfiles/rails_7_1.gemfile
          - gemfiles/rails_7_2.gemfile
          - gemfiles/rails_8_0.gemfile
        allow_failures:
          - false
        exclude:
          - os: ubuntu
            ruby: "3.0"
            gemfile: gemfiles/rails_7_2.gemfile
          - os: ubuntu
            ruby: "3.0"
            gemfile: gemfiles/rails_8_0.gemfile
          - os: ubuntu
            ruby: "3.1"
            gemfile: gemfiles/rails_8_0.gemfile
          - os: ubuntu
            ruby: jruby
            gemfile: gemfiles/rails_8_0.gemfile
        include:
          - os: ubuntu
            ruby: ruby-head
            gemfile: gemfiles/rails_8_0.gemfile
            allow_failures: true
          - os: ubuntu
            ruby: jruby-head
            gemfile: gemfiles/rails_7_2.gemfile
            allow_failures: true
    env:
      BUNDLE_GEMFILE: "${{ matrix.gemfile }}"
      ALLOW_FAILURES: "${{ matrix.allow_failures }}"
    runs-on: ${{ matrix.os }}-latest
    continue-on-error: ${{ endsWith(matrix.ruby, 'head') || matrix.ruby == 'debug' }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Ruby
        uses: ruby/setup-ruby@d5f787ce339eb0767271bc01d922e85644c2c8ab # v1.280.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Test
        run: bundle exec rake spec:unit || $ALLOW_FAILURES
