name: Tests

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
  push:
    branches:
      - master
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'

jobs:
  unit_tests:
    name: Unit Tests
    # Homemade support for [ci skip] no longer needed
    # https://github.blog/changelog/2021-02-08-github-actions-skip-pull-request-and-push-workflows-with-skip-ci/
    # if: "contains(github.event.commits[0].message, '[ci skip]') == false"
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
        ruby:
          - 2.7
          - 3.0
          - 3.1
          - 3.2
          - jruby
        gemfile:
          - gemfiles/rails_6_0.gemfile
          - gemfiles/rails_6_1.gemfile
          - gemfiles/rails_7_0.gemfile
        allow_failures:
          - false
        include:
          - os: ubuntu
            ruby: ruby-head
            gemfile: gemfiles/rails_7_0.gemfile
            allow_failures: true
          - os: ubuntu
            ruby: jruby-head
            gemfile: gemfiles/rails_7_0.gemfile
            allow_failures: true
        exclude:
          - os: ubuntu
            ruby: jruby
            # Rails 7 requires Ruby 2.7
            # `jruby-9.3.7.0` only supports 2.6.x
            gemfile: gemfiles/rails_7_0.gemfile
            allow_failures: false
    env:
      BUNDLE_GEMFILE: "${{ matrix.gemfile }}"
      ALLOW_FAILURES: "${{ matrix.allow_failures }}"
    runs-on: ${{ matrix.os }}-latest
    continue-on-error: ${{ endsWith(matrix.ruby, 'head') || matrix.ruby == 'debug' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Test
        run: bundle exec rake spec:unit || $ALLOW_FAILURES
